/* ----- BASE ----- */
$base-text-color: #333;

$base-link-color: #3273dc;

/* ----- CARD ----- */

$card-icon-color: #3273dc;
$card-icon-highlight-color: #e9e9e9;
$card-border-color: #dbdbdb;
$card-footer-action-highlight-color: $base-text-color;
$card-footer-action-background-highlight-color: #e9e9e9;