@import '_variables.scss';
@import '_colors.scss';

@import 'grid/grid.scss';

@import 'components/card.scss';
@import 'components/dropdown-menu.scss';
@import 'components/button.scss';
@import 'components/control.scss';
@import 'components/modal.scss';
@import 'components/fancy-pants.scss';

body {
 color: $base-text-color;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
}

a {
 text-decoration: none;
 color: $base-link-color;
}