/* ----- BASE ----- */

/* ----- CARD ----- */
$card-border-radius: .1rem;
$card-title-font-weight: 700;
$card-header-padding: .75rem;
$card-header-icon-transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);
$card-content-padding: 1.5rem;
$card-footer-item-padding: .75rem;
$card-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$card-box-shadow-highlight: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$card-box-shadow-transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
$card-footer-action-transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);