<!DOCTYPE html>
<html>

<head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>Card</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" media="screen" href="../../css/main.css" />
 <script src="main.js"></script>
</head>

<body>
 <aside>
  <h5>Card</h5>
  <br />
  <div class="card shadow highlight">
   <header class="card__header">
    <p class="card__header--title">
     Card title
    </p>
    <i class="card__header--icon dropdown highlight fa fa-angle-down"></i>
    <a class="card__header--dropdown highlight dropdown" [class.is-active]="cardDropdownIsActive" (click)="cardDropdownIsActive = !cardDropdownIsActive">
     ASDF
     <div #dropdown class="dropdown-menu is-right" [class.is-active]="cardDropdownIsActive">AY LMAO</div>
    </a>
   </header>
   <div class="card__content">
    <span>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
     <a href="#">Link1</a>
     <a href="#">Link2</a>
     <a href="#">Link3</a>
    </span>
    <time class="card__content--footer" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
   </div>
   <footer class="card__footer">
    <a href="#" class="card__footer--action highlight">Save</a>
    <a href="#" class="card__footer--action highlight">Edit</a>
    <a href="#" class="card__footer--action highlight">Delete</a>
   </footer>
  </div>
 </aside>
 <br />
 <a href="../showroom.html">Back</a>
</body>

</html>