.button-group {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;

 &.is-vertical {
  flex-direction: column;

  &>.button:not(:last-child) {
   margin-bottom: 4px;
  }
 }

 &:not(.is-vertical) {
  &>.button:not(:last-child) {
   margin-right: 4px;
  }
 }
}

.button {
 flex-basis: content;
 color: #333;
 border-radius: 4px;
 border: 1px solid rgba(0, 0, 0, .7);
 background-color: #fff;
 padding: 8px;

 &:hover {
  background-color: #e9e9e9;
 }

 &.is- {
  &link {
   color: #fff;
   background-color: #3273dc;

   &:hover {
    background-color: #276cda;
   }
  }

  &info {
   color: #fff;
   background-color: #209cee;

   &:hover {
    background-color: #1496ed;
   }
  }

  &success {
   color: #fff;
   background-color: #23d160;

   &:hover {
    background-color: #22c65b;
   }
  }

  &warning {
   color: rgba(0, 0, 0, .7);
   background-color: #ffdd57;

   &:hover {
    background-color: #ffdb4a;
   }
  }

  &danger {
   color: #fff;
   background-color: #ff3860;

   &:hover {
    background-color: #ff2b56;
   }
  }
 }

 &:hover {
  cursor: pointer;
 }
}