@import '../_colors.scss';

.card {
 display: flex;
 flex-direction: column;
 border-radius: $card-border-radius;

 &__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $card-border-color;

  &--title {
   display: flex;
   flex-grow: 1;
   font-weight: $card-title-font-weight;
   margin: 0;
   padding: $card-header-padding;
  }

  &--icon {
   height: 1.5rem;
   width: 1.5rem;
   padding: $card-header-padding;
   color: $card-icon-color;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   display: inline-flex;

   &.highlight {
    transition: $card-header-icon-transition;

    &:hover {
     background-color: $card-icon-highlight-color;
     color: $base-text-color;
    }
   }
  }

  &--dropdown {
   margin: 0;
   padding: $card-header-padding;
   cursor: pointer;
   position: relative;

   &.highlight {
    transition: $card-header-icon-transition;

    &:hover:not(.is-active) {
     background-color: $card-icon-highlight-color;
     color: $base-text-color;
    }
   }

   &.is-active {
    box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
    color: $base-text-color;
   }
  }
 }

 &__content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $card-border-color;
  padding: $card-content-padding;
 }

 &__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &--action {
   align-items: center;
   display: flex;
   flex-basis: 0;
   flex-grow: 1;
   flex-shrink: 0;
   justify-content: center;
   padding: $card-footer-item-padding;

   &:not(:last-child) {
    border-right: 1px solid $card-border-color;
   }

   &.highlight {
    transition: $card-footer-action-transition;

    &:hover {
     color: $card-footer-action-highlight-color;
     background-color: $card-footer-action-background-highlight-color;
    }
   }
  }
 }

 &.shadow {
  box-shadow: $card-box-shadow;
  transition: $card-box-shadow-transition;

  &.highlight:hover {
   box-shadow: $card-box-shadow-highlight;
  }
 }
}