.field {

 &__label {
  margin-bottom: .5em;
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
 }

 &__control {
  display: flex;

  &--input {
   background-color: #fff;
   border-color: #dbdbdb;
   color: #363636;
   box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
   flex-grow: 1;
   border-radius: 4px;
   font-size: 1rem;
   justify-content: flex-start;
   line-height: 1.5;
   padding-bottom: calc(.375em - 1px);
   padding-left: calc(.625em - 1px);
   padding-right: calc(.625em - 1px);
   padding-top: calc(.375em - 1px);
   position: relative;
   vertical-align: top;
  }
 }

 &__help {
  font-size: .75rem;
  margin-top: .25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a4a4a;
 }
}