.dropdown-menu {
 display: flex;
 flex-direction: column;
 position: absolute;
 background-color: white;
 border-radius: $card-border-radius;
 top: calc(100% + 8px);
 visibility: hidden;
 opacity: 0;

 &.is-right {
  right: 8px;
 }

 &.is-left {
  left: 8px;
 }

 &.is-active {
  visibility: visible;
  opacity: 1;
  box-shadow: $card-box-shadow;
  padding: .75rem;
  transition: visibility 0.3s cubic-bezier(.25,.8,.25,1), opacity 0.3s cubic-bezier(.25,.8,.25,1);
 }
}