.selector {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
 list-style: none;

 &__character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

  &--portrait {
   filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));

   &>div {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: circle(120px);
   }
  }

  &--info {

   .parchment {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20px;
    filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.6));

    &--closed {
     height: 40px;
     border-top-right-radius: 4px;
     background: linear-gradient(to top, #daa520 59%,#ebbf52 100%);
    }

    &--opened {
     position: relative;
     height: 0px;
     top: -5px;
     border-bottom-right-radius: 4px;
     transition: height .5s cubic-bezier(0.165, 0.84, 0.44, 1);
     background: linear-gradient(to bottom, #daa520 59%,#ebbf52 100%);

     &.is-active {
      height: 300px;
     }
    }

    &__seal {
     align-self: end;
     filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.6));
     cursor: pointer;

     &--wax {
      filter: drop-shadow(0px 2px 1px rgba(0,0,0,0.6));

      &>div {
       position: absolute;
       width: 31px;
       height: 22px;
       background-color: #720000;
       clip-path: ellipse(15px 11px);
       top: -19px;
       right: 20px;
  
       &::before {
        content: '';
        display: block;
        width: 31px;
        height: 23px;
        background-color: #af0e0e;
        clip-path: polygon(53.23% 13.04%, 80% 18.7%, 93.55% 52.39%, 83.87% 78.7%, 70.32% 81.3%, 50% 91.31%, 26.46% 85.65%, 12.9% 65.65%, 9.68% 35.00%, 26.45% 18.7%);
        top: -19px;
       }
  
       &::after {
        content: '';
        display: block;
        position: relative;
        width: 31px;
        height: 23px;
        background-color: #720000;
        clip-path: polygon(66.13% 34.78%, 80% 18.7%, 74.2% 43.69%, 67.74% 61.31%, 70.32% 81.3%, 50% 69.57%, 26.46% 85.65%, 32.25% 56.95%, 19.36% 39.35%, 26.45% 18.7%, 47.35% 23.88%);
        top: -23px;
       }
      }
     }

     &--strip {
      position: absolute;
      top: -3px;
      z-index: -1;
      right: 22.5px;
      width: 25px;
      height: 60px;
      background-color: #6b290f;
      clip-path: polygon(3.69% 90.52%, 50% 73.34%, 24px 55px, 98.81% -8.19%, 1px -5px);

      &::before {
       content: '';
       display: block;
       width: 25px;
       height: 60px;
       background-color: #912f09;
       clip-path: polygon(88% -5.72%, 84.65% 80.5%, 52% 66.36%, 16.63% 78.15%, 15.87% -5.72%);
       top: -19px;
      }
     }
    }
   }
  }
 }
}