.modal {
 display: flex;

 &__backdrop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .7);
 }

 &__content {
  opacity: 0;
  visibility: hidden;
  z-index: 110;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
 }

 &.is-active {
  .modal__backdrop {
   opacity: 1;
   visibility: visible;
  }

  .modal__content {
   opacity: 1;
   visibility: visible;
   margin: auto;
  }
 }
}